.home-page {
  margin:0px;
  padding:0px;
  font-family: Georgina,serif;
}

.page-latest{
  
}
.page-headline{
  display:none;
}
.page-populer{
  display:none;
}
.page-economy{
  display:none;
}
.page-tecnology{
  display:none;
}
.page-market{
  display:none;
}
.page-finance{
  display:none;
}
.page-politics{
  display:none;
}
.page-ai{
  display:none;
}
.page-world{
  display:none;
}
.page-sport{
  display:none;
}
@media(min-width:768px){
  .home-nav-link{
    padding:8px;
    padding-inline:18px;
    font-size: 16px;
  }
}

.news-card {
  border:1px solid;
  border-color: lightgrey;
  margin:9px;
  display:flex;
  height: 90px;
  align-items:flex-start;
}
.news-card-body {
  flex:1;
}
.news-card-image {
  width:35%;
  height: 90px;
  object-fit:cover;
}
.news-card-link {
  margin:3px;
  text-decoration: none;
  display:block;
}
.news-card-text {
  color: black;
  position:relative;
  margin:10px;
  font-size:14px;
}