.home-page {
  margin:0px;
  padding:0px;
  font-family: Georgina,serif;
}

.page-category {
}
@media(min-width:768px){
  .home-nav-link{
    padding:8px;
    padding-inline:18px;
    font-size: 16px;
  }
}

.news-list {
  display:flex;
  flex-direction:column;
  gap:0px;
}

.news-card {
  border:1px solid;
  border-color: lightgrey;
  margin:9px;
  display:flex;
  height: 90px;
  align-items:flex-start;
}
.news-card-body {
  flex:1;
}
.news-card-image {
  width:35%;
  height: 90px;
  object-fit:cover;
}
.news-card-link {
  margin:3px;
  text-decoration: none;
  display:block;
}
.news-card-text {
  color: black;
  position:relative;
  margin:10px;
  font-size:14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card-empty {
  margin:9px;
  color: grey;
  font-size:14px;
}
.news-card-date{
  color:#303030;
  position: relative;
  left: 10px;
  top: 0px;
  font-size: 9px;
}