.profile-page {
  margin:0px;
  padding:0px;
}

.profile-header {
  position: relative;
  height: 275px;
  background: linear-gradient(
    to bottom,
    #f53232 0 125px,
    white 0px 0%
  );
}
.profile-head-img {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#img-profile {
  width: 140px;
  height: 140px;
  border:1px solid;
  border-radius: 70%;
  border-color: lightgrey;
  object-fit: cover;
  z-index: 999;
}
.profile-head-text {
  position: absolute;
  top: 186px;
  width: 100%;
  text-align: center;
}

#btn-login-profile{
  position:absolute;
  left:95px;
  top:15px;
  text-decoration: none;
}

.main-profile {
  display:flex;
  align-items: center;
  width: 100%;
}
.fitur-profile {
  border-bottom: 0.5px solid;
  border-top: 0.5px solid;
  border-color: lightgrey;
  height:40px;
  position: relative;
}
.button-fitur-profile{
  display:block;
  color:black;
  margin-left: 11px;
  margin-block: 11px;
  font-size: 16px;
  position: absolute;
  text-decoration: none;
  width: 100%;
}
.button-fitur-profile:hover{
  color:#202121;
  background-color: white;
}
@media (min-width:768px){
  .fitur-profile{
    height: 80px;
  }
  .button-fitur-profile{
    margin-left: 22px;
    margin-block: 20px;
    font-size: 30px;
  }
}