.footer {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left:0px;
  padding: 0px;
  margin:0px;
}
.footer-list {
  border: 0px solid;
  position:relative;
  display:flex;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-block:20px;
}
#footer-home{
  border: 0px solid;
  display:inline-block;
  position:absolute;
  top:7px;
  left: 0px;
  width:39%;
  color:black;
  font-size: 21px;
}
#footer-search{
  display:inline-block;
  position:absolute;
  top:7px;
  left: 140px;
  width:22%;
  color:black;
  font-size: 21px;
}
#footer-profile{
  display:inline-block;
  position: absolute;
  top:7px;
  right: 0px;
  width:39%;
  color:black;
  font-size: 21px;
}
@media (min-width:768px){
  .footer-list{
    padding-block:25px;
  }
  .footer-link{
    font-size: 25px;
  }
}