/*Navigation Bar header*/
.home-nav {
  position: sticky;
  top:0px;
  z-index:999;
}
.home-nav-list {
  border: 2px solid;
  background-color: black;
  list-style-type: none;
  padding: 0px;
  margin:0px;
  text-align: center;
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}
.home-nav-link {
  text-decoration: none;
  color:white;
  background-color: transparent;
  border: none;
  padding:7px;
  display: block;
  float: left;
  font-size: 15px;
  cursor: pointer;
}
.home-nav-link:hover{
  background-color: #242424;
}

.home-nav-link.active {
  background-color: #d40000;
  color: white;
}

.title-nav-home {
  margin-right: auto;
  margin:9px;
  margin-block: 15px;
  border: 0px solid;
}